trigger:
- '*'

jobs:

- job: Windows
  pool:
    vmImage: windows-latest
  steps:

  - powershell: .\build.ps1 --target=Test --test-run-name=Windows
    displayName: Build, test, and publish results

  - powershell: .\build.ps1 --target=Package --artifact-dir='$(Build.ArtifactStagingDirectory)'
    displayName: Package

  - task: PublishBuildArtifacts@1
    displayName: Save package artifacts
    inputs:
      PathtoPublish: $(Build.ArtifactStagingDirectory)
      ArtifactName: Package

  - task: PublishBuildArtifacts@1
    displayName: Save test results artifacts
    condition: always()
    inputs:
      PathtoPublish: test-results
      ArtifactName: Test results (Windows)

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'NUnit'
    testResultsFiles: '**/TEST-*.xml'
